.App {

  text-align: center;
 
 }
 
 :root {
 
  --navblack: #28282b;
 
  --bodyblack: #343434;
 
  --orange: #df7818;
 
  --white: #c4c4c4;
 
  --card--white: rgb(243, 240, 243);
 
 }
 
 body {
 
  font-family: "Poppins", sans-serif;
 
  background-color: var(--bodyblack);
 
 }
 
 .css-1ufjp4e{
 
  padding: .5em;
 
 }
 
 .navBelow{
 
  text-align: center;
 
  height: 100%;
 
  color: var(--navblack);
 
 }
 
 
 
 .navBelowLink:hover{
 
  font-size: medium;
 
  text-decoration: none;
 
  color: var(--orange);
 
 }
 
 
 
 .navBelowLink {
 
   
 
  color: var(--card--white);
 
  transition: .25s ease-in-out;
 
 }
 
 .cartbutton{
 
  font-size: 2em;
 
  background-color: var(--orange);
 
 }
 
 .categories{
 
  text-decoration: 'none';
 
  font-size: 1em;
 
  font-weight: 200;
 
  transition: .25s ease-in-out;
 
  color: var(--card--white);
 
 }
 
 .categories:hover{
 
  color: var(--orange)
 
 }
 
 